/*
        align-items: flex-start;
        align-items: flex-end;
        align-items: center;
        flex-direction: column;
 */

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
    margin: 25px;
    font-size: 35px;
    font-family: monospace;
    font-weight: lighter;
    border: solid red 2px;
}

h2 {
    margin: auto;
    font-size: 130px;
    color: rgb(255, 255, 255);
    font-family:Migra-Extrabold, Migra;
    font-weight: bold;
}

h3 {
    margin: auto;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family:Migra-Extrabold, Migra;
    font-weight: bold;
}

p, ul {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: monospace;
}

@media(min-width:770px) {

    .container-one {
        align-content: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .container-two {
        display: flex;
    }
}

.container-two div{
    border: 2px rgb(255, 255, 255) solid;
    padding: 5px;
}

.container-two-box-one {
    flex: 1;
    order: 2;
}

.container-two-box-two {
    flex: 1;
    order: 1;
}

.container-one div {
    border: 2px rgb(255, 255, 255) solid;
    padding: 5px;
}

.box-one {
    flex: 1;
    order: 1;
}

.box-two {
    flex: 1;
    order: 2;
}

.box-three {
    flex: 1;
    order: 3;
}

.box-four {
    flex: 1;
    order: 4;
}

img {
    margin: auto;
    width: 330px;
    height: 300px;
}

.dickinsonpic {
    margin-left: 12px;
    padding-top: 20px;
}

.poepic {
    margin-left: 12px;
}

.plathpic {
    margin-left: 12px;
}

.angeloupic {
    margin-left: 12px;
}