body {
    background-color: #000;
}



.cls-1, .cls-2, .cls-5 {
  fill: rgb(255, 255, 255);
}

.cls-2 {
  font-size: 134px;
  font-family: Migra-Extrabold, Migra;
  font-weight: 800;
}

.cls-3 {
  letter-spacing: 0em;
}

.cls-4 {
  letter-spacing: 0em;
}

.cls-5 {
  font-size: 35px;
  font-family: Migra-Extralight, Migra;
  font-weight: 200;
}

.cls-6 {
  letter-spacing: -0.02em;
}

.cls-7 {
  letter-spacing: -0.02em;
}

.cls-8 {
  letter-spacing: -0.01em;
}

.cls-9 {
  letter-spacing: -0.02em;
}
