/*
        align-items: flex-start;
        align-items: flex-end;
        align-items: center;
        flex-direction: column;
 */

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
    margin: 20px;
    font-size: 35px;
    font-family: monospace;
    font-weight: lighter;
   /* border: solid red 2px; */
}

h2 {
    margin: auto;
    font-size: 130px;
    color: rgb(255, 255, 255);
    font-family:Migra-Extrabold, Migra;
    font-weight: bold;
}

h3 {
    margin: auto;
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family:Migra-Extrabold, Migra;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-weight: lighter;
}

p, ul {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: monospace;
}

@media(min-width:770px) {

    .container-one {
        align-content: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-bottom: -20px;
    }

    .container-one.left {
        margin-right: auto;
        justify-content: flex-start;
    }

    .container-one.right {
        margin-left: 400px;
        justify-content: flex-end;
    }

    .container-two {
        display: flex;
    }

    .container-three {
        display: flex;
        margin-top: 150px;
    }

    .container-four {
        display: flex;
        margin-top: 150px;
    }

    .container-banner {
        display: flex;
    }
}

.container-banner div {   
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 2px rgb(255, 255, 255) solid;*/
    background-color: rgb(126, 126, 126);
}

.banner-one {
    flex: 3;
    order: 1;
}

.banner-two {
    flex: 1;
    order: 2;
}

.banner-three {
    flex: 1;
    order: 3;
}

.banner-four {
    flex: 1;
    order: 4;
}

.banner-five {
    flex: 1;
    order: 5;
}

.container-four div {
    border: 2px rgb(255, 255, 255) solid;
    padding: 5px;
}

.container-four-box-one {
    flex: 1;
    order: 1;
}

.container-four-box-two {
    flex: 1;
    order: 2;
}

.container-three div {
    border: 2px rgb(255, 255, 255) solid;
    padding: 5px;
}

.container-three-box-one {
    flex: 1;
    order: 1;
}

.container-three-box-two {
    flex: 1;
    order: 2;
}

.container-two div{
    /* border: 2px rgb(255, 255, 255) solid; */
    padding: 5px;
}

.container-two-box-one {
    flex: 1;
    order: 2;
}

.container-two-box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    order: 1;
}

.container-one div {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* border: 2px rgb(255, 255, 255) solid; */
    padding: 5px;
}

.box-one {
    flex: 1;
    order: 1;
}

.box-two {
    flex: 1;
    order: 2;
}

.box-three {
    flex: 1;
    order: 3;
}

.box-four {
    flex: 1;
    order: 4;
}

img {
    margin: auto;
    width: 330px;
    height: 300px;
}

.drawing {
    width: 550px;
    height: auto;

}

.links {
    border-bottom: none;
    color: black;
}

.links:hover {
    color: white;
}